# About the Task
In this task, youâ€™ll work with simulated or exported CSV data from Instagram or Facebook Ads Manager. Your goal is to analyze campaign performance metrics and build an interactive dashboard that helps businesses answer questions like:

- How well did the ad campaign perform?
- Which posts or ads had the highest engagement?
- What was the Click-Through Rate (CTR) and Return on Investment (ROI)?
- What can we improve for the next campaign?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [3]:
df.columns

Index(['ad_id', 'reporting_start', 'reporting_end', 'campaign_id',
       'fb_campaign_id', 'age', 'gender', 'interest1', 'interest2',
       'interest3', 'impressions', 'clicks', 'spent', 'total_conversion',
       'approved_conversion'],
      dtype='object')

In [28]:
df['spent'].value_counts()

spent
0.00    354
1.00    130
2.00     43
3.00     20
4.00     18
       ...
7.54      1
3.14      1
6.78      1
4.53      1
1.52      1
Name: count, Length: 509, dtype: int64

In [4]:
df.shape

(1143, 15)

In [5]:
df.dtypes

ad_id                    int64
reporting_start         object
reporting_end           object
campaign_id             object
fb_campaign_id          object
age                     object
gender                  object
interest1                int64
interest2                int64
interest3                int64
impressions            float64
clicks                   int64
spent                  float64
total_conversion       float64
approved_conversion    float64
dtype: object

# Meta data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   reporting_start      1143 non-null   object
 2   reporting_end        1143 non-null   object
 3   campaign_id          1143 non-null   object
 4   fb_campaign_id       1143 non-null   object
 5   age                  1143 non-null   object
 6   gender               1143 non-null   object
 7   interest1            1143 non-null   int64
 8   interest2            1143 non-null   int64
 9   interest3            1143 non-null   int64
 10  impressions          1143 non-null   float64
 11  clicks               1143 non-null   int64
 12  spent                1143 non-null   float64
 13  total_conversion     761 non-null    float64
 14  approved_conversion  761 non-null    float64
dtypes: float64(4), int64(5), object(6)
memory usage: 134.1+ KB

In [7]:
df['fb_campaign_id'].value_counts()

fb_campaign_id
F         276
M         106
144611      6
144562      6
144536      6
         ...
115866      1
115858      1
115856      1
115854      1
103916      1
Name: count, Length: 490, dtype: int64

In [8]:
df['campaign_id'].value_counts()

campaign_id
936      464
1178     243
45-49    144
30-34     99
40-44     71
35-39     68
916       54
Name: count, dtype: int64

In [9]:
df['total_conversion'].value_counts()

total_conversion
1.0     546
2.0      89
3.0      34
4.0      26
5.0      19
7.0       9
0.0       5
6.0       5
13.0      4
22.0      4
11.0      3
8.0       3
17.0      2
10.0      2
23.0      1
31.0      1
40.0      1
9.0       1
20.0      1
26.0      1
60.0      1
24.0      1
28.0      1
15.0      1
Name: count, dtype: int64

# Statistical Summary

In [10]:
df.describe()

,ad_id,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
count,1.143000e+03,1143.000000,1.143000e+03,1143.000000,1.143000e+03,1143.000000,1143.000000,761.000000,761.000000
mean,9.872611e+05,33.884514,1.180606e+05,42.474191,6.872500e+04,11.629921,17.597760,2.161629,0.768725
std,1.939928e+05,27.560263,2.670506e+05,48.987248,2.067023e+05,27.347899,48.418711,4.062201,1.656445
min,7.087460e+05,2.000000,3.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,7.776325e+05,16.000000,2.200000e+01,19.000000,1.442650e+02,1.000000,0.000000,1.000000,0.000000
50%,1.121185e+06,26.000000,3.300000e+01,27.000000,3.142000e+03,2.000000,1.530000,1.000000,0.000000
75%,1.121804e+06,32.000000,9.889400e+04,38.000000,2.786400e+04,8.000000,8.540000,2.000000,1.000000
max,1.314415e+06,120.000000,2.286228e+06,421.000000,3.052003e+06,340.000000,639.949998,60.000000,21.000000

# Missing Values

In [11]:
df.isna().sum()

ad_id                    0
reporting_start          0
reporting_end            0
campaign_id              0
fb_campaign_id           0
age                      0
gender                   0
interest1                0
interest2                0
interest3                0
impressions              0
clicks                   0
spent                    0
total_conversion       382
approved_conversion    382
dtype: int64

In [12]:
df['total_conversion'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
1138     True
1139     True
1140     True
1141     True
1142     True
Name: total_conversion, Length: 1143, dtype: bool

# Filling missing Values with 0

In [13]:
df[['total_conversion','approved_conversion']]= df[['total_conversion','approved_conversion']].fillna(0)

In [14]:
df.isna().sum()

ad_id                  0
reporting_start        0
reporting_end          0
campaign_id            0
fb_campaign_id         0
age                    0
gender                 0
interest1              0
interest2              0
interest3              0
impressions            0
clicks                 0
spent                  0
total_conversion       0
approved_conversion    0
dtype: int64

# Duplicates

In [15]:
df.duplicated().value_counts()

False    1143
Name: count, dtype: int64

In [16]:
df.duplicated().sum()

0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   reporting_start      1143 non-null   object
 2   reporting_end        1143 non-null   object
 3   campaign_id          1143 non-null   object
 4   fb_campaign_id       1143 non-null   object
 5   age                  1143 non-null   object
 6   gender               1143 non-null   object
 7   interest1            1143 non-null   int64
 8   interest2            1143 non-null   int64
 9   interest3            1143 non-null   int64
 10  impressions          1143 non-null   float64
 11  clicks               1143 non-null   int64
 12  spent                1143 non-null   float64
 13  total_conversion     1143 non-null   float64
 14  approved_conversion  1143 non-null   float64
dtypes: float64(4), int64(5), object(6)
memory usage: 134.1+ KB

# Objectives

In [18]:
# Convert reporting dates to datetime
df['reporting_start'] = pd.to_datetime(df['reporting_start'], dayfirst=True)
df['reporting_end'] = pd.to_datetime(df['reporting_end'], dayfirst=True)


# Convert conversions to integer (since conversions are counts, not decimals)
df['total_conversion'] = df['total_conversion'].fillna(0).astype(int)
df['approved_conversion'] = df['approved_conversion'].fillna(0).astype(int)

# Confirm changes
print(df.dtypes)

ad_id                           int64
reporting_start        datetime64[ns]
reporting_end          datetime64[ns]
campaign_id                    object
fb_campaign_id                 object
age                            object
gender                         object
interest1                       int64
interest2                       int64
interest3                       int64
impressions                   float64
clicks                          int64
spent                         float64
total_conversion                int32
approved_conversion             int32
dtype: object

# 1. How well did the ad campaign perform?

In [25]:
overall = {
    "Total Impressions": df["impressions"].sum(),
    "Total Clicks": df["clicks"].sum(),
    "Total Spend": df["spent"].sum(),
    "Total Conversions": df["total_conversion"].sum(),
    "Total Approved Conversions": df["approved_conversion"].sum(),
    "CTR (%)": (df["clicks"].sum() / df["impressions"].sum()) * 100,
    "CPC ($)": df["spent"].sum() / df["clicks"].replace(0,1).sum(),
    "CPA ($)": df["spent"].sum() / df["approved_conversion"].replace(0,1).sum()
}

In [26]:
overall

{'Total Impressions': 78552672.98996094,
 'Total Clicks': 13293,
 'Total Spend': 20114.239997279998,
 'Total Conversions': 1645,
 'Total Approved Conversions': 585,
 'CTR (%)': 0.016922403139227167,
 'CPC ($)': 1.490054077878361,
 'CPA ($)': 14.628538179839998}

# 2. Which posts or ads had the highest engagement?

In [24]:
top_ads = df.groupby("ad_id").agg({
    "impressions":"sum",
    "clicks":"sum",
    "spent":"sum"
})
top_ads["CTR"] = (top_ads["clicks"] / top_ads["impressions"].replace(0, float("nan"))) * 100


top_ads = top_ads.sort_values("CTR", ascending=False).head(10)
top_ads

         impressions  clicks  spent        CTR
ad_id
1314308         3.20       3    1.0  93.750002
1314298         2.69       2    1.0  74.349441
1314330         1.49       1    1.0  67.114094
1121953         1.64       1    0.0  60.975610
1121839         1.73       1    1.0  57.803468
1314297         7.53       4    4.0  53.120851
1121869         2.62       1    1.0  38.167939
1121897         2.63       1    1.0  38.022814
1121871         2.78       1    1.0  35.971223
1314364        11.19       4    0.0  35.746202

# Objective 3
## What was the Click-Through Rate (CTR) and Return on Investment (ROI)?

CTR = already calculated.

ROI = requires revenue assumption. Example:
If each approved conversion = $5 revenue, then:

In [49]:
revenue_per_conversion = 36
total_revenue = df["approved_conversion"].sum() * revenue_per_conversion
total_spend = df["spent"].sum()

ROI = ((total_revenue - total_spend) / total_spend) * 100
ROI

4.701942518573386

## Objective 4: What can we improve for the next campaign?

From the metrics:

- High CPC, low CTR ads : creatives or targeting need fixing.

- Age/Gender segmentation : see if certain demographics convert better.

- Interest targeting : which interest IDs yield highest conversions.

- Budget allocation :  shift budget from low ROI campaigns to high ROI ones.

In [53]:
# Save as CSV
df.to_csv("cleaned_data.csv", index=False)